<div class="m-3">
    <div>
        <b>
            Наша линейка IT-продуктов постоянно совершенствуется и дополняется. Решения MYRTEX созданы для реализации
            программ
            корпоративной социальной ответственности и поддержки социальных инициатив.
        </b>
    </div>
    <br>
    <div>
        <b>
            Конструкторы MYRTEX — это платформа для проведения грантовых, субсидиальных и любых других видов конкурсов,
            отборов
            и наш главный продукт.
        </b>
    </div>
    <br>
    <div>
        Фонды, общественные организации, корпорации и государственные органы во множестве регионов пользуются нашими
        решениями, чтобы поддерживать лучшие социальные проекты. Мы работаем с лучшими в своём деле, поэтому сами
        соответствуем высоким стандартам. Наш генеральный партнёр — Фонд Президентских грантов.
    </div>

    <br>
    <div>
        <b>MYRTEX</b> также разрабатывает Whitelabel/SAAS продукты, разворачивает медиаплатформы для клиентов, создает
        платные и
        бесплатные сервисы. Каждый наш продукт мы адаптируем под запрос клиента для достижения лучшего результата.
    </div>
</div>